@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img style="width: 24px; height: 24px; border-radius: 12px" class="avatar avatar-@(User.Identity?.Name) discord-loader" src="~/img/loading_symbol.gif" data-id="@(User.Identity?.Name)" />
                <span class="name-@(User.Identity?.Name)">@User.Identity?.Name</span>
            </a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li >
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
