
<ul class="navbar-nav">
    @if (User.Identity!.IsAuthenticated)
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img style="width: 24px; height: 24px; border-radius: 12px" class="avatar avatar-@(User.Identity?.Name) discord-loader" src="~/img/loading_symbol.gif" data-id="@(User.Identity?.Name)" />
                <span class="name-@(User.Identity?.Name)">@User.Identity?.Name</span>
            </a>
        </li>
        <li>
            <a asp-page="/Authentication/Logout">Logout</a>
        </li>
    }
    else
    {
        <li>
            <a asp-page="/Authentication/Login">Login</a>
        </li>
    }
</ul>
