@page
@model TerritorialHQ.Areas.Administration.Pages.Clans.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Clans</h1>


<h2>Create</h2>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GuildId" class="control-label"></label>
        <input asp-for="GuildId" class="form-control" />
        <span asp-validation-for="GuildId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LogoFile" class="control-label"></label>
        <input type="file" name="fileLogo" accept=".jpg,.jpeg,.gif,.png" />
    </div>
    <div class="form-group">
        <label asp-for="BannerFile" class="control-label"></label>
        <input type="file" name="fileBanner" accept=".jpg,.jpeg,.gif,.png" />
    </div>
    <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-1-2 form-group">
            <div class="form-group">
                <label asp-for="Motto" class="control-label"></label>
                <input asp-for="Motto" class="form-control" />
                <span asp-validation-for="Motto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foundation" class="control-label"></label>
                <input asp-for="Foundation" class="form-control" />
                <span asp-validation-for="Foundation" class="text-danger"></span>
            </div>
        </div>
        <div class="pure-u-1-1 pure-u-md-1-2 form-group">
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="pure-g">

                <div class="pure-u-1-1 pure-u-md-1-2">
                    <div class="form-group">
                        <label asp-for="Color1" class="control-label"></label>
                        <input asp-for="Color1" class="form-control" data-coloris/>
                        <span asp-validation-for="Color1" class="text-danger"></span>
                    </div>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-2">
                    <div class="form-group">
                        <label asp-for="Color2" class="control-label"></label>
                        <input asp-for="Color2" class="form-control" data-coloris />
                        <span asp-validation-for="Color2" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="form-group">
        <label asp-for="Founders" class="control-label"></label>
        <input asp-for="Founders" class="form-control" />
        <span asp-validation-for="Founders" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BotEndpoint" class="control-label"></label>
        <input asp-for="BotEndpoint" class="form-control" />
        <span asp-validation-for="BotEndpoint" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscordLink" class="control-label"></label>
        <input asp-for="DiscordLink" class="form-control" />
        <span asp-validation-for="DiscordLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control base-edit" rows="12"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="History" class="control-label"></label>
        <textarea asp-for="History" class="form-control base-edit" rows="12"></textarea>
        <span asp-validation-for="History" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Community" class="control-label"></label>
        <textarea asp-for="Community" class="form-control base-edit" rows="12"></textarea>
        <span asp-validation-for="Community" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Features" class="control-label"></label>
        <textarea asp-for="Features" class="form-control base-edit" rows="12"></textarea>
        <span asp-validation-for="Features" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Miscellaneous" class="control-label"></label>
        <textarea asp-for="Miscellaneous" class="form-control base-edit" rows="12"></textarea>
        <span asp-validation-for="Miscellaneous" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<div>
    <a asp-page="Index">Back to list</a>
</div>



@section Styles {
    <link href="~/lib/coloris/coloris.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="/js/ckeditor.js"></script>
    <script>
        $(".baseedit").each(function (i) {
            ClassicEditor
                .create(this, {
                    removePlugins: ['Title'],
                    toolbar: ['heading', '|', 'bold', 'italic', '|', 'bulletedList', 'numberedList', 'outdent', 'indent'],
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading2', view: 'h3', title: 'Heading 2', class: 'ck-heading_heading3' },
                            { model: 'heading3', view: 'h4', title: 'Heading 3', class: 'ck-heading_heading4' }
                        ]
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>
    <script src="~/lib/coloris/coloris.min.js"></script>
    <script src="~/js/init-coloris.js"></script>
    <style>
        .ck-content, .ck-content p {
            color: #94A3B8 !important;
        }
    </style>

}
