@page
@model TerritorialHQ.Areas.Administration.Pages.CommunityEvents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Community Events</h1>

<h2>Delete</h2>

<h4 class="text-danger">Are you sure you wish to delete this record? The operation will be logged and cannot be undone.</h4>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommunityEvent!.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommunityEvent!.Title)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="CommunityEvent.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <p class="mt-20"><a asp-page="./Index">Cancel</a></p>
    </form>
</div>
