@page
@model TerritorialHQ.Areas.Administration.Pages.Users.EditModel
@{
}


<h1 class="text-4xl mb-5">
    Edit user <span class="name-@(Model.IUser.UserName) discord-loader" data-id="@(Model.IUser.UserName)">@Model.IUser.UserName</span>

</h1>
<form method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label class="control-label" asp-for="RoleId"></label>
        <select class="form-control" asp-for="RoleId" asp-items="ViewBag.RoleId"></select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn-admin-primary">Save</button>
    </div>
    <p>
        <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
    </p>
</form>