
input[type="file"]::-webkit-file-upload-button {
    display: inherit !important;
}

body {
    background-color: #0F172A;
}

#mainContainer {
    background-color: #FFF;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.clearfix {
    float: none;
    clear: both;
}

/* Lists */
.list-unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-inline-item {
    display: inline-block;
}


.shadow {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.66);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}

/* Reusable Widths */
$i: 0;
$maxWidth: 100;

@while $i <= $maxWidth {
    .g-width-#{$i} {
        width: 0px + $i
    }

    $i: $i + 5;
}

@media (min-width: 768px) {

    $i: 0;
    $maxWidth: 100;

    @while $i <= $maxWidth {
        .g-width-md-#{$i} {
            width: 0px + $i
        }

        $i: $i + 5;
    }
}

/* Reusable margins and paddings */

$maxMargin: 60;

$i: 0;

@while $i <= $maxMargin {
    .mt-#{$i} {
        margin-top: 0px + $i !important
    }

    .mr-#{$i} {
        margin-right: 0px + $i !important
    }

    .mb-#{$i} {
        margin-bottom: 0px + $i !important
    }

    .ml-#{$i} {
        margin-left: 0px + $i !important
    }

    .ma-#{$i} {
        margin: 0px + $i !important
    }


    .pt-#{$i} {
        padding-top: 0px + $i !important
    }

    .pr-#{$i} {
        padding-right: 0px + $i !important
    }

    .pb-#{$i} {
        padding-bottom: 0px + $i !important
    }

    .pl-#{$i} {
        padding-left: 0px + $i !important
    }

    .pa-#{$i} {
        padding: 0px + $i !important
    }

    $i: $i + 5;
}

@media (max-width: 768px) {

    $i: 0;
    $maxMargin: 100;

    @while $i <= $maxMargin {

        .pt-mobile-#{$i} {
            padding-top: 0px + $i !important
        }

        .pr-mobile-#{$i} {
            padding-right: 0px + $i !important
        }

        .pb-mobile-#{$i} {
            padding-bottom: 0px + $i !important
        }

        .pl-mobile-#{$i} {
            padding-left: 0px + $i !important
        }

        .pa-mobile-#{$i} {
            padding: 0px + $i !important
        }

        $i: $i + 5;
    }
}


@media screen and (max-width: 35.5em) {

    .mt-mobile-none {
        margin-top: 0 !important;
    }

    .mr-mobile-none {
        margin-right: 0 !important;
    }

    .mb-mobile-none {
        margin-bottom: 0 !important;
    }

    .ml-mobile-none {
        margin-left: 0 !important;
    }

    .pt-mobile-none {
        padding-top: 0 !important;
    }

    .pr-mobile-none {
        padding-right: 0 !important;
    }

    .pb-mobile-none {
        padding-bottom: 0 !important;
    }

    .pl-mobile-none {
        padding-left: 0 !important;
    }

    .pa-mobile-none {
        padding: 0 !important;
    }
}

/* Reusable borders */


$maxBorder: 10;

$i: 0;

@while $i <= $maxMargin {
    .brd-t-#{$i} {
        border-top: solid 0px + $i #CCC;
    }

    .brd-r-#{$i} {
        border-right: solid 0px + $i #CCC;
    }

    .brd-b-#{$i} {
        border-bottom: solid 0px + $i #CCC;
    }

    .brd-l-#{$i} {
        border-left: solid 0px + $i #CCC;
    }

    .brd-a-#{$i} {
        border: solid 0px + $i #CCC;
    }

    $i: $i + 1;
}

.brd-color-green {
    border-color: $color-green-light;
}

.brd-color-green:hover {
    border-color: $color-green;
}

.brd-color-gray {
    border-color: $color-gray-light;
}

.brd-color-red {
    border-color: $color-red-light;
}

.brd-color-red:hover {
    border-color: $color-red;
}


/* Flex */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

/* Rounded Corners */

.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Hidden elements */

hidden {
    display: none;
}

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }
}

