@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'LoRes';
        src: url('/fonts/LoRes15OT-Bold.woff2') format('woff2'), url('/fonts/LoRes15OT-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-Regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-Italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-Light-webfont.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff');
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-Bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto Condensed';
        src: url('/fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff');
        font-weight: 700;
        font-style: italic;
    }

    html {
        font-family: 'Roboto Condensed', system-ui, sans-serif;
    }

}

@layer components {

    h1 {
        @apply text-accent-500;
    }

    h2 {
        @apply text-slate-300;
    }

    .admin-table {
        @apply w-full text-left text-slate-300 shadow-xl;
    }

        .admin-table > thead {
            @apply text-sm text-slate-300 uppercase bg-slate-700;
        }

            .admin-table > thead th {
                @apply px-6 py-3 text-accent-500;
            }

        .admin-table > tbody tr {
            @apply border-b border-slate-700;
        }

        .admin-table > tbody td {
            @apply px-6 py-4 bg-slate-800;
        }

    .btn btn-primary {
        @apply inline-block py-2.5 px-5 font-medium text-slate-900 focus:outline-none bg-accent-500 rounded-md border border-slate-700 hover:border-slate-500 hover:text-slate-500 focus:z-10 focus:ring-2 focus:ring-slate-500 stroke-slate-800 hover:stroke-slate-500;
    }

    .btn-admin-secondary {
        @apply inline-block py-2.5 px-5 font-medium text-slate-300 focus:outline-none bg-slate-500 rounded-md border border-slate-700 hover:border-accent-500 hover:text-slate-200 focus:z-10 focus:ring-2 focus:ring-accent-500 stroke-slate-300 hover:stroke-slate-200;
    }

    .btn btn-primary btn-sm {
        @apply inline-block py-1 px-2 mr-0.5 text-sm font-medium text-slate-300 focus:outline-none bg-slate-500 rounded-md border border-slate-700 hover:border-accent-500 hover:text-slate-200 focus:z-10 focus:ring-2 focus:ring-accent-500 stroke-slate-300 hover:stroke-slate-200;
    }

    .btn btn-danger btn-sm {
        @apply inline-block py-1 px-2 mr-0.5 text-sm font-medium text-gray-50 focus:outline-none bg-red-500 rounded-md border border-red-600 hover:bg-red-600 hover:text-gray-100 focus:z-10 focus:ring-4 focus:ring-red-200 dark:focus:ring-red-700 dark:bg-red-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    }

    .form-group {
        @apply;
    }

    .form-group label {
        @apply text-slate-300;
    }

        .form-group > input[type=file] {
            @apply text-slate-300;
        }

        .form-group label.control-label {
            @apply block mb-2 text-sm font-bold uppercase text-accent-500;
        }

    .form-control {
        @apply bg-slate-800 border border-slate-600 text-slate-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-200 disabled:text-gray-400;
    }

    dialog::backdrop {
        background: rgba(255, 255, 255, 0.5);
        filter: blur(5px);
        backdrop-filter: blur(0.5px);
    }
}
