<div class="navbar shadow">
    <div class="navbar-container">

        <div class="menu-logo">
            <a href="~/">
                <img src="~/img/TTHQ-Logo-Full-Wide.png" class="hidden-md-down" />
                <img src="~/img/TTHQ-Logo-Full-Wide.png" class="hidden-lg-up" />
            </a>
        </div>
        <div class="menu-toggle">
        </div>

        <div class="menu-navigation">
            <nav class="nav">
                <ul class="menu">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/Home/Index">Overview</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/Navigation/Index">Navigation</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/ContentPages/Index">Content Pages</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/ContentCreators/Index">Content Creators</a>
                        </li>
                    }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/Clans/Index">Clans</a>
                        </li>
                    }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Journal"))
                    {
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/Journal/Index">Journal</a>
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="menu-item">
                            <a class="menu-link" asp-page="/Users/Index">Users</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="navigation-login" style="height: auto">
            <a class="login-link" asp-area="" asp-page="/Index">Back to site</a>
        </div>

    </div>
</div>

