@page
@model TerritorialHQ.Pages.Profiles.IndexModel
@{
}


<h1>User Profile</h1>

@foreach (var keyValuePair in Model.ClanPoints)
{
    <p><strong>@keyValuePair.Key</strong> - @string.Format("{0:#,0}", @keyValuePair.Value) points</p>
}