@page
@model TerritorialHQ.Pages.ContentPages.DetailsModel
@{
}


@if (Model.ContentPage != null && !string.IsNullOrEmpty(Model.ContentPage.BannerImage))
{
    <div class="fader" style="background-image: url(/Data/Uploads/System/@Model.ContentPage.BannerImage)"></div>
}
else
{
    <div class="start-video">
        <video autoplay muted loop class="w-full h-full absolute object-cover">
            <source src="/video/intro.mp4" type="video/mp4">
        </video>
    </div>

}

<div class="fader-soft">
</div>

<div class="content-page">
    @if (Model.ContentPage == null)
    {
        <partial name="_NoContent" />
    }
    else
    {
        var useSidebar = !string.IsNullOrEmpty(Model.ContentPage.SidebarContent) && Model.ContentPage.SidebarContent.Length > 6;

        if (useSidebar)
        {
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-3-4"> 
                    @Html.Raw(Model.ContentPage.Content)
                </div>
                <div class="pure-u-1-1 pure-u-md-1-4 pt-85 pt-mobile-20">
                    @Html.Raw(Model.ContentPage.SidebarContent)
                </div>
            </div>
        }
        else
        {
            @Html.Raw(Model.ContentPage.Content)
        }
    }
</div>