@page
@model TerritorialHQ.Pages.ContentPages.DetailsModel
@{
}

@if (!string.IsNullOrEmpty(Model.ContentPage.BannerImage))
{
    <div style="background-image: url(/Data/Uploads/System/@Model.ContentPage.BannerImage)"></div>
}

<ul>
    <li><a href="/">Home</a></li>
    @if (@Model.NavEntry.Parent != null)
    {
        <li>@Model.NavEntry.Parent.Name</li>
    }
    <li><a href="/@Model.NavEntry.Slug">@Model.NavEntry.Name</a></li>
</ul>

<div>
    @if (Model.ContentPage == null)
    {
        <partial name="_NoContent" />
    }
    else
    {
        @Html.Raw(Model.ContentPage.Content)
    }
</div>