@page
@model TerritorialHQ.Pages.ContentPages.DetailsModel
@{
}


@if (!string.IsNullOrEmpty(Model.ContentPage!.BannerImage))
{
    <div class="fader" style="background-image: url(/Data/Uploads/System/@Model.ContentPage.BannerImage)"></div>
}
else
{
    <div class="start-video">
        <video autoplay muted loop class="w-full h-full absolute object-cover">
            <source src="/video/intro.mp4" type="video/mp4">
        </video>
    </div>

}

<div class="fader-soft">
</div>








@*<ul>
    <li><a href="/">Home</a></li>
    @if (@Model.NavEntry.Parent != null)
    {
        <li>@Model.NavEntry.Parent.Name</li>
    }
    <li><a href="/@Model.NavEntry.Slug">@Model.NavEntry.Name</a></li>
</ul>*@

<div class="content-page">
    @if (Model.ContentPage == null)
    {
        <partial name="_NoContent" />
    }
    else
    {
        @Html.Raw(Model.ContentPage.Content)
    }
</div>