@model List<TerritorialHQ.ViewModels.LeaderboardEntry>
@{
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Rank</td>
                <td>@item.Name</td>
                <td>@item.Points</td>
            </tr>
        }
    </tbody>
</table>
