@page
@model TerritorialHQ.Areas.Administration.Pages.Journal.EditModel

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/ckeditor.css" rel="stylesheet" />

<h1>Journal</h1>
<h2>Edit</h2>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Image" />
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="/Data/Uploads/System/@Model.Image" style="max-height: 150px" />
            <br />
        }
        <input type="file" name="imageFile" /><br />
        <label class="block mt-2"><input type="checkbox" asp-for="RemoveImage" /> Remove image on save</label>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subtitle" class="control-label"></label>
        <input asp-for="Subtitle" class="form-control" />
        <span asp-validation-for="Subtitle" class="text-danger"></span>
    </div>

    <div class="pure-g">
        <div class="form-group pure-u-1-1 pure-u-md-1-2">
            <label asp-for="PublishFrom" class="control-label"></label>
            <input asp-for="PublishFrom" class="form-control datepicker" type="text" placeholder="Select date">
            <span asp-validation-for="PublishFrom" class="text-danger"></span>
        </div>
        <div class="form-group pure-u-1-1 pure-u-md-1-2">
            <label asp-for="PublishTo" class="control-label"></label>
            <input asp-for="PublishTo" class="form-control datepicker" type="text" placeholder="Select date">
            <span asp-validation-for="PublishTo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Teaser" class="control-label"></label>
        <textarea asp-for="Teaser" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Teaser" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body" class="control-label"></label>
        <textarea asp-for="Body" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tags" class="control-label"></label>
        <input asp-for="Tags" class="form-control" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="IsSticky" /> @Html.DisplayNameFor(model => model.IsSticky)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>


<div>
    <a asp-page="Index">Back to list</a>
</div>

@section Styles {
    <link href="~/lib/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
}
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>
    <script src="/js/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Body'), {
                removePlugins: ['Title'],
                simpleUpload: {
                    uploadUrl: '/Ajax/Uploads'
                }
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <style>
        .ck-content, .ck-content p {
            color: #94A3B8 !important;
        }
    </style>
    <script src="~/lib/flatpickr/dist/flatpickr.min.js"></script>
    <script src="~/js/init.datepicker.js"></script>
}
